[package]
name = "payload_dumper"
version = "0.7.5"
edition = "2024"
authors = ["rhythmcache"]
description = "A fast and efficient Android OTA payload dumper written in Rust"
repository = "https://github.com/rhythmcache/payload-dumper-rust"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/rhythmcache/payload-dumper-rust"
keywords = ["dumper", "android", "ota", "extractor", "payload"]
categories = ["command-line-utilities"]

include = [
    "src/**",
    "LICENSE",
    "README.md",
    "Cargo.toml",
    "build.rs"
]

[[bin]]
name = "payload_dumper"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.100"
digest = "0.10.7"
indicatif = "0.18.2"
prost = "0.14.1"
sha2 = "0.10.9"
num_cpus = "1.17.0"
hex = "0.4.3"
clap = { version = "4.5.51", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"], optional = true }
serde_json = { version = "1.0.145", optional = true }
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread", "io-util", "time", "full"] }
futures = "0.3.31"
async-compression = { version = "0.4.32", features = ["zstd", "xz", "bzip2", "tokio"] }
async-trait = "0.1.89"
reqwest = { version = "0.12.24", features = ["rustls-tls-webpki-roots", "stream", "gzip", "http2"], default-features = false }
tokio-util = { version = "0.7.17", features = ["io"] }
url = "2.5.7"
lazy_static = "1.5.0"

[build-dependencies]
chrono = "0.4.42"


[features]
default = ["metadata"]
metadata = ["dep:serde", "dep:serde_json"]


[profile.release]
strip = true
lto = true
opt-level = "z"
codegen-units = 1
panic = "abort"
